@model Monity.Models.UserBoard

@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <main role="main" class="pb-3">

<h1>Create</h1>

<h4>UserBoard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BoardId" class="control-label"></label>
                <input asp-for="BoardId" class ="form-control" readonly></input>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Menu" asp-controller="Home" asp-route-selectedBoardId="BoardId">Back to List</a>
</div>

    </main>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
