@{
ViewData["Title"] = "Home Page";
}

<!--Header section -->
<header class="bg-dark">
    <div class="container-fluid px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">Monity helps teams move work forward</h1>
                    <p class="lead fw-normal text-white-50 mb-4">Collaborate, manage projects and reach new productivity
                    peaks. From high rises to the home office, the wat your team works is unique-accomplish it all with Monity.
                    </p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="login.html">Get Started</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" 
            src="images/kanban2.png" alt="..." /></div>
        </div>
    </div>
</header>

<!--Features section -->
<section class="py-5" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">A better way to start working.</h2></div>
            <div class="col-lg-8">
                <div class="row gx-5 row-cols-1 row-cols-md-2">
                    <div class="col mb-5 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                        <h2 class="h5">Features to help your team succeed</h2>
                        <p class="mb-0">Powering a productive team means using a powerful tool (and plenty of snacks). 
                                        From meetings and projects to events and goal setting, Monity's intuitive features
                                        give any team the ability to quickly set up and customize workflows for just about anything..</p>
                    </div>
                    <div class="col mb-5 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                        <h2 class="h5">The board is just the beginning</h2>
                        <p class="mb-0">Lists and cards are the building blocks of organizing work on a Monity board. Grow from there 
                                        ith task assignments, timelines and more.</p>
                    </div>
                    <div class="col mb-5 mb-md-0 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h5">Cards contain everything you need</h2>
                        <p class="mb-0">Moniy cards are your portal to more organized work—where every single part of your task 
                                    can be managed, tracked, and shared with teammates. Open any card to uncover an ecosystem 
                                    of checklists, due dates, attachments and more.</p>
                    </div>
                    <div class="col h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h5">A Solid Foundation</h2>
                        <p class="mb-0">We’ve based our product on just a few, simple building blocks — a dashboard, projects and tasks. 
                                    Some apps add so many bells and whistles that the core purpose gets lost. Monity's features 
                                    complement its core; they don’t detract from it.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Newsletter section -->
<section >
        <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
            <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                <div >
                    <div class="fs-3 fw-bold text-white">New products, delivered to you.</div>
                    <div class="text-white-50">Sign up for our newsletter for the latest updates.</div>
                </div>
                <div class="ms-xl-4">
                    <div class="input-group mb-2">
                        <input class="form-control" type="text" placeholder="Email address..." aria-label="Email address..." aria-describedby="button-newsletter" />
                        <button class="btn btn-outline-light" id="button-newsletter" type="button">Sign up</button>
                    </div>
                    <div class="small text-white-50">We care about privacy, and will never share your data.</div>
                </div>
            </div>
        </aside>
</section>