@{
ViewData["Title"] = "Privacy Policy";
}

<!-- Header-->
<header class="bg-secondary bg-gradient text-white">
    <div class="container px-4 py-4 text-center">
        <h1 class="fw-bolder ">About Monity</h1>
        <p class="big">What’s behind the boards.</p>
    </div>
</header>
<!-- About section-->
<section id="about">
    <div class="container py-4 px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Work Beautifully Together</h2>
                <p class="lead">At Monity, we create stunning online productivity and creativity solutions that people simply love 
                                to use. Each tool integrates smoothly with the others to ensure flawless workflows 
                                and keep teams working together, wherever they are, whatever they do.</p>
                <ul>
                    <li>Easily cretea new boards that you can share with your colleagues</li>
                    <li>Intuitive design making it easy to understand even without a tutorial</li>
                    <li>We’ve based our product on just a few, simple building blocks — a dashboard, projects and tasks</li>
                    <li>Swimlanes let you group your tasks for better organization and visibility</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Services section-->
<section class="bg-light" id="services">
    <div class="container py-4 px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Services we offer</h2>
                <p class="lead">Monity is the flexible work management tool where teams can ideate plans, 
                    collaborate on projects, organize workflows, and track progress in a visual, productive, 
                    and rewarding way. From brainstorm to planning to execution, Monity manages the big milestones and 
                    the day-to-day tasks of working together and getting things done.</p>
            </div>
        </div>
    </div>
</section>
<!-- Contact section-->
<section id="contact">
    <div class="container py-4 px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Contact us</h2>
                <p class="lead">Address: Strada Madona Dudu Nr 35, Craiova 200410</p>
                <p class="lead">Phone: +40-251-438.198</p>
                <p class="lead">E-mail: monity@gmail.com</p>
            </div>
        </div>
    </div>

    <div style="width: 100%">
        <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
                src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Strada%20Madona%20Dudu%20Nr%2035,%20Craiova%20200410+
                ()&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/truck-gps/">Monity map</a>
        </iframe>
    </div>
</section>
